html{
  font: Roboto;
}
.App {
  text-align: center;
}

.App-albumList{
    height: 200px;
    margin-left: 10%;
    margin-right: 10%;
}

.App_AlbumList_display{
  padding-top:0;
  margin-top:0;
  padding-left: 5%;
  padding-right: 5%; 
  height: auto;
  text-align: center;
}

.App_AlbumList_display_papar{
  margin-left:8%;
  margin-right:8%;
}

.App_album_title{
    -webkit-margin-before: 1em;
    -webkit-margin-after: 0em;
    padding:1em;
    text-align: left;
}


.App-h1{

}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-image-sel {
  -webkit-filter: opacity(.5);
  filter: opacity(.5);
  overflow: hidden;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

